@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-shadow: 2px 2px 5% #ff0000;
}

body {
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
}

header {
  margin: 0% 0% 1% 0%;
  padding:0.4%;
 display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
  box-shadow: 0 4px 8px 0 skyblue;
  transition: 0.3s;
  background-color: rgba(73, 235, 252, 0.5);
  backdrop-filter: blur(8px) invert(15%);
}

#logo {
  margin-top:auto;
  margin-bottom:auto;
  margin-right:auto;
  margin-left: 2%;
}

#header-img { 
  display: inline-block;
  width: 10%;
  cursor: pointer;
}

.nav-link {
  list-style: none;
  display: inline-block;
  padding: 0 2em;
  color: rgba(255, 255, 255, 0.78);
  text-shadow: 2px 2px 1% black;
  transition: all 0.3s ease 0s;
}

.nav-link:hover {
  transform: scale(1.5);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.nav-link none;
  background-color: transparent;
  cursor: pointer;
}

#title {
  text-align: center;
  font-weight: 800;
}


#logo li,
a,
button {
  text-decoration: none;
}

#home {
  width: 100%;
  height: 0;
  margin-top: 1%;
  padding-bottom: 45%;
  position: relative;
}

#home iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

#specs {
  border-top: 0;
  margin-top: 0;
  padding: 2%;
  box-shadow: 0 4px 8px 0 skyblue;
  transition: 0.3s;
}

#specs h1 {
  text-align: center;
  font-weight: 1000;
  font-size: 10em;
  letter-spacing: 5%;
  font-style: italic;
  color: rgba(73, 235, 252, 0.5);
}

#specs ul {
  display: inline-flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  align-self: center;
}

#specs li {
  display: block;
  justify-content: space-around;
  margin: auto auto auto auto;
  text-decoration: none;
  font-size: 5em;
  padding: 2%;
  color: rgba(73, 235, 252, 0.5);
}

#contact {
  box-shadow: 0 4px 8px 0 skyblue;
  transition: 0.3s;
  padding: 8%;
  letter-spacing: 5%;
  text-align: center;
  font-size: 2em;
  color: rgba(73, 235, 252, 1);
}

#survey-form {
  color: skyblue;
  font-size: 2em;
  display: inline-block;
}

#survey-form label {
  padding: 2% 0 0 0;
}

#survey-form input {
  height: 3em;
  padding: 1%;
  font-size: 0.3em;
}

#survey-form button {
  background-color: skyblue;
  border: none;
  font-size: 0.5em;
  border-radius: 25px;
  padding: 2%;
}

footer {
  display:flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  align-content: center;
  flex-wrap:wrap;
  background-color: rgba(73, 235, 252, 0.5);
  backdrop-filter: blur(8px) invert(15%);
  color: yellow;
  transition: 0.3s;
  width: 100%;
  margin: 0%;
}

#para {
  text-align: center;
  padding: 2%;
  font-size: 1.5em;
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 75%;
  }
 iframe {
    min-width: 100%;
   margin-top: 20%;
  }
}
